body{
            background-color: lightgray;
        }


.students_container{
    display: flex;
    justify-content: center;
    gap: 20px;
}


.student_card{
    border: black 1px solid;
    padding: 10px;
    background-color: black;
    color: white;
    border-radius: 10px;
    box-shadow: 7px 7px 11px 11px rgba(32, 29, 29, 0.13);
}


img{
    max-width: 230px;
    width: 100%;
    max-height: 230px;
    max-height: 100%;
}

.paggination{
    .pagination{
        .pagination_btns{
            display: flex;
            margin: 0 auto;
            gap: 10px;

        a{
            border: 1px solid black;
            padding: 8px;
            color: black;
        }

        span{
           border: 1px solid black;
            padding: 8px;
            color: black; 
        }
        }
    }
}